@inherits LayoutComponentBase

<section id="sidebar">
    <div class="title">
        <h1>Adrian Gabor</h1>
        <div class="image-cropper">
            <img src="self.JPG" />
        </div>
        <h5>Software Developer</h5>
        <div id="social-links">
            <a href="https://linkedin.com/in/adriangabor"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/adyle5"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
    <div class="links">
        <div class="link-container" style="@homeSelected">
            <div class="link">
                <a href="/">
                    <i class="fas fa-home fa-fw"></i>
                    <span style="@homeSelected">Home</span>
                </a>
            </div>
        </div>

        <div class="link-container" style="@articlesSelected">
            <div class="link">
                <a href="/articles">
                    <i class="fas fa-newspaper fa-fw"></i>
                    <span style="@articlesSelected">Articles</span>
                </a>
            </div>
        </div>

        <div class="link-container" style="@stackSelected">
            <div class="link">
                <a href="/stack">
                    <i class="fas fa-code fa-fw"></i>
                    <span style="@stackSelected">Technology Stack</span>
                </a>
            </div>
        </div>

        <div class="link-container" style="@photographySelected">
            <div class="link">
                <a href="/photography">
                    <i class="fa fa-camera fa-fw"></i>
                    <span style="@photographySelected">Photography</span>
                </a>
            </div>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="link-container logout-container" style="@logoutSelected">
                    <div class="link">
                        <a href="/" @onclick="Logout">
                            <i class="fa fa-sign-out-alt fa-fw"></i>
                            <span style="@logoutSelected">Sign Out</span>
                        </a>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</section>

<header>
    <div id="small-name">Adrian Gabor</div>
    <div class="login-icons">
        <Search />
    </div>
</header>

<section id="main-content">
    @Body
</section>